@page "/leave-requests"
@using OutOfOffice.BlazorUI.Components.LeaveRequest
@using OutOfOffice.BlazorUI.Components.LeaveRequest.AllLeaveRequests
@using OutOfOffice.BlazorUI.Components.LeaveRequest.MyLeaveRequests
@using OutOfOffice.BlazorUI.Components.Other
@using OutOfOffice.BlazorUI.Components.Other.Dialogs
@using OutOfOffice.BlazorUI.Pages.LeaveRequest
@using OutOfOffice.BlazorUI.Services.Contracts
@using OutOfOffice.Common.Dto
@using OutOfOffice.Common.Enums
@using OutOfOffice.Common.ViewModels.AbsenceReason
@using OutOfOffice.Common.ViewModels.LeaveRequest
@inject ILeaveRequestService LeaveRequestService;
@inject IAbsenceReasonService AbsenceReasonService
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject IDialogService DialogService

<AuthorizeView Roles="HRManager,ProjectManager,Admin">
    <AllLeaveRequestsTable />
</AuthorizeView>

<AuthorizeView Roles="Employee,HRManager,ProjectManager">
    <MyLeaveRequestsTable />
</AuthorizeView>

<AuthorizeView Roles="Employee,HRManager,ProjectManager">
    <button class="fixed-button" @onclick="SendNewLeaveRequest">
        <i class="fa fa-plus"></i>
    </button>
</AuthorizeView>

@code {
    private void SendNewLeaveRequest()
    {
        NavigationManager.NavigateTo("/leave-request/send");
    }
}
